
.inactive {
	display: none;
}

.peliArriba{
	border: 2px solid orange;
	overflow: auto;
	padding: 0.5em;
}

.peliArriba p{
	font-weight: bold;
	font-size: 0.8em;
	font-family: "Times New Roman";
}

.peliAbajo{
	border: 2px solid orange;
	text-align: center;
}

.peliAbajo > video{
	width: 50em;
	max-width: 100%;
	padding: 0.8em;
}

.cartel {
	float: right;
	width: 16em;
	max-width: 100%;
	height: auto;
	padding: 0.3em;
}

.botonPlay{
	float: right;
	width: 15%;
	height: 50px;
	text-align:center;
	border: 1px solid black;
	margin: 10px;
}

.fotoBandaSonora{
	text-align: center;
	display: block;
	width: 15%;
	height: 200px;
	border: 1px solid black;
	margin: auto;
}

video {
	border: transparent solid 1em;
}

.playing {
	border: red solid 1em;
}
